<h1>Listing usersampdescs</h1>

<table>
  <tr>
    <th>Sample</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usersampdescs.each do |usersampdesc| %>
  <tr>
    <td><%= usersampdesc.sample %></td>
    <td><%= usersampdesc.desc %></td>
    <td><%= link_to 'Show', usersampdesc %></td>
    <td><%= link_to 'Edit', edit_usersampdesc_path(usersampdesc) %></td>
    <td><%= link_to 'Destroy', usersampdesc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usersampdesc', new_usersampdesc_path %>
