<p id="notice"><%= notice %></p>

<p>
  <b>Sample:</b>
  <%= @usersampdesc.sample %>
</p>

<p>
  <b>Desc:</b>
  <%= @usersampdesc.desc %>
</p>


<%= link_to 'Edit', edit_usersampdesc_path(@usersampdesc) %> |
<%= link_to 'Back', usersampdescs_path %>
